*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #E3E9F0, #9098AD);
    color: #273049;
    font-family: 'Paduak',sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: .5rem;
    font-size: 1rem;
    border: none;
    background-color: white;
}

form button{
    color: #9098AD;
    background-color: white;
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover{
    background: #9098AD;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: .2rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.trash-btn, .met-btn{
    background: #9098AD;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
   
}
.met-btn{
    background: rgb(101, 180, 101);
}
.trash-btn{
    background: rgb(197, 125, 125);
}

.completed{
    text-decoration: line-through;
    opacity: .5;
}